*{
    font-size: 18pt;
    /*background-color: #071A2B;*/
}
.navbar .container .navbar-header .pagetitle{
    font-size:32pt;
    background-color: white;
}

.form-group .form1{
    font-size: 18pt;
}
.form-group .form2{
    font-size: 18pt;
}